@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pub-Sub Demo</h1>
    <form asp-action="Publish" method="post">
        <p>
            <label for="content">Enter a message:</label>
            <input type="text" id="content" name="content" placeholder="What's the message content?" />
        </p>
        <p>
            <label for="howManyCopies">How Many Copies?</label>
            <input type="number" name="howManyCopies" id="howManyCopies" value="1" min="1" max="100" />
        </p>
        <p>
            <input type="submit" value="Publish!" />
        </p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </form>
</div>
